<script>
	// @ts-nocheck
	import { Tabs } from '@danboscaro/govuk-svelte';
</script>

<Tabs
	{...{
		items: [
			{
				label: 'Tab 1',
				id: 'tab-1',
				panel: {
					html: '<h2 class="govuk-heading-l">Tab 1</h2>\n<p class="govuk-body">Testing that when you click the anchor it moves to the anchor point successfully</p>\n<p class="govuk-body"><a class="govuk-link" href="#anchor">Anchor</a></p>\n<p class="govuk-body"><a id="anchor" tabindex="0">Anchor Point</a></p>\n'
				}
			},
			{
				label: 'Tab 2',
				id: 'tab-2',
				panel: {
					html: '<h2 class="govuk-heading-l">Tab 2</h2>\n'
				}
			}
		]
	}}
/>
