<script>
	import { dev } from '$app/environment';
	import { inject } from '@vercel/analytics';
	inject({ mode: dev ? 'development' : 'production' });
</script>

<slot />

{@html '<script src="/iframeResizer.contentWindow.min.js"></script>'}

<style>
	:global(body) {
		padding: 20px;
		overflow: hidden;
	}
</style>
