<script>
	// @ts-nocheck
	import { Tabs } from '@danboscaro/govuk-svelte';
</script>

<Tabs
	{...{
		items: [
			{
				label: 'Past day',
				id: 'past-day',
				panel: {
					html: '<h2 class="govuk-heading-l">Past day</h2>\n<table class="govuk-table">\n  <thead class="govuk-table__head">\n    <tr class="govuk-table__row">\n      <th class="govuk-table__header" scope="col">Case manager</th>\n      <th class="govuk-table__header" scope="col">Cases opened</th>\n      <th class="govuk-table__header" scope="col">Cases closed</th>\n    </tr>\n  </thead>\n  <tbody class="govuk-table__body">\n    <tr class="govuk-table__row">\n      <td class="govuk-table__cell">David Francis</td>\n      <td class="govuk-table__cell">3</td>\n      <td class="govuk-table__cell">0</td>\n    </tr>\n    <tr class="govuk-table__row">\n      <td class="govuk-table__cell">Paul Farmer</td>\n      <td class="govuk-table__cell">1</td>\n      <td class="govuk-table__cell">0</td>\n    </tr>\n    <tr class="govuk-table__row">\n      <td class="govuk-table__cell">Rita Patel</td>\n      <td class="govuk-table__cell">2</td>\n      <td class="govuk-table__cell">0</td>\n    </tr>\n  </tbody>\n</table>\n'
				}
			},
			{
				label: 'Past week',
				id: 'past-week',
				panel: {
					html: '<h2 class="govuk-heading-l">Past week</h2>\n<table class="govuk-table">\n  <thead class="govuk-table__head">\n    <tr class="govuk-table__row">\n      <th class="govuk-table__header" scope="col">Case manager</th>\n      <th class="govuk-table__header" scope="col">Cases opened</th>\n      <th class="govuk-table__header" scope="col">Cases closed</th>\n    </tr>\n  </thead>\n  <tbody class="govuk-table__body">\n    <tr class="govuk-table__row">\n      <td class="govuk-table__cell">David Francis</td>\n      <td class="govuk-table__cell">24</td>\n      <td class="govuk-table__cell">18</td>\n    </tr>\n    <tr class="govuk-table__row">\n      <td class="govuk-table__cell">Paul Farmer</td>\n      <td class="govuk-table__cell">16</td>\n      <td class="govuk-table__cell">20</td>\n    </tr>\n    <tr class="govuk-table__row">\n      <td class="govuk-table__cell">Rita Patel</td>\n      <td class="govuk-table__cell">24</td>\n      <td class="govuk-table__cell">27</td>\n    </tr>\n  </tbody>\n</table>\n'
				}
			},
			{
				label: 'Past month',
				id: 'past-month',
				panel: {
					html: '<h2 class="govuk-heading-l">Past month</h2>\n<table class="govuk-table">\n  <thead class="govuk-table__head">\n    <tr class="govuk-table__row">\n      <th class="govuk-table__header" scope="col">Case manager</th>\n      <th class="govuk-table__header" scope="col">Cases opened</th>\n      <th class="govuk-table__header" scope="col">Cases closed</th>\n    </tr>\n  </thead>\n  <tbody class="govuk-table__body">\n    <tr class="govuk-table__row">\n      <td class="govuk-table__cell">David Francis</td>\n      <td class="govuk-table__cell">98</td>\n      <td class="govuk-table__cell">95</td>\n    </tr>\n    <tr class="govuk-table__row">\n      <td class="govuk-table__cell">Paul Farmer</td>\n      <td class="govuk-table__cell">122</td>\n      <td class="govuk-table__cell">131</td>\n    </tr>\n    <tr class="govuk-table__row">\n      <td class="govuk-table__cell">Rita Patel</td>\n      <td class="govuk-table__cell">126</td>\n      <td class="govuk-table__cell">142</td>\n    </tr>\n  </tbody>\n</table>\n'
				}
			},
			{
				label: 'Past year',
				id: 'past-year',
				panel: {
					text: 'There is no data for this year yet, check back later'
				}
			}
		]
	}}
/>
