<script>
	//@ts-nocheck
	import { Template } from '@danboscaro/govuk-svelte';
	import { componentName } from '$lib';
	import { page } from '$app/stores';
	/** @type {import('./$types').PageServerData} */
	export let data;

	import { dev } from '$app/environment';
	import { inject } from '@vercel/analytics';
	inject({ mode: dev ? 'development' : 'production' });
</script>

<Template mainClasses="app-main" containerClasses="app-container">
	<svelte:fragment slot="pageTitle">
		<title>{$page.data.title || 'govuk-svelte demo'}</title>
	</svelte:fragment>

	<svelte:fragment slot="header">
		<header class="govuk-header" data-module="govuk-header">
			<div class="govuk-header__container govuk-width-container">
				<div class="govuk-header__logo">
					<a href="/components" class="govuk-header__link govuk-header__link--homepage">
						<span class="govuk-header__logotype">
							<img class="govuk-header__logotype-crown-fallback-image" src="/logo.svg" alt="" />
							<span class="govuk-header__logotype-text">govuk-svelte</span>
						</span>
					</a>
				</div>
				<div class="logos">
					<a href="https://www.npmjs.com/package/@danboscaro/govuk-svelte" target="_blank">
						<svg
							height="32"
							width="32"
							viewBox="0 0 700 700"
							fill="currentColor"
							style="color:#cb0000;margin-right:16px"
							aria-hidden="true"
							><polygon fill="#cb0000" points="0,700 700,700 700,0 0,0" /><polygon
								fill="#ffffff"
								points="150,550 350,550 350,250 450,250 450,550 550,550 550,150 150,150 "
							/></svg
						>
					</a>
					<a href="https://gitlab.com/danboscaro/govuk-svelte" target="_blank">
						<img alt="" src="/gitlab.svg" />
					</a>
				</div>
			</div>
		</header>
	</svelte:fragment>

	<svelte:fragment slot="beforeContent">
		<label for="toggler" class="govuk-visually-hidden">Menu</label>
		<input type="checkbox" class="toggler" id="toggler" />
		<div class="hamburger"><div /></div>
		<nav>
			<ul class="govuk-list">
				<li class={`${$page.url.pathname == '/components' ? 'active' : null}`}>
					<a
						class="govuk-link govuk-link--no-visited-state govuk-link--no-underline"
						href={`/components`}>Getting started</a
					>
				</li>
			</ul>
			<h2 class="govuk-heading-s">Components</h2>
			<ul class="govuk-list">
				{#each Object.keys(data.examples) as component}
					<li class={`${data.component === component ? 'active' : null}`}>
						<a
							class="govuk-link govuk-link--no-visited-state govuk-link--no-underline"
							href={`/components/${component}`}
							>{componentName(component)}
						</a>
					</li>
				{/each}
				<li class={`${$page.url.pathname === '/components/template' ? 'active' : null}`}>
					<a
						class="govuk-link govuk-link--no-visited-state govuk-link--no-underline"
						href={`/components/template`}>Template</a
					>
				</li>
			</ul>
		</nav>
	</svelte:fragment>

	<svelte:fragment slot="content">
		<slot />
	</svelte:fragment>
</Template>

<style lang="scss">
	:global(.govuk-width-container) {
		max-width: 1200px !important;
	}
	.govuk-header__container {
		display: flex;
		align-items: center;
	}
	.logos {
		padding-right: 10px;
		display: flex;
		flex: 1;
		justify-content: end;
	}
	:global(.app-container) {
		display: flex;
	}
	:global(.app-main) {
		flex: 1;
	}
	:global(.token) {
		background: transparent !important;
	}
	.govuk-header__logotype {
		display: flex;
		align-items: center;
	}
	.govuk-header__link--homepage {
		display: contents;
		color: white;
	}
	.govuk-header__logotype-crown-fallback-image {
		width: 80px;
		height: initial;
		margin: 0 -25px 5px 0;
	}
	.govuk-header__container {
		border-bottom: 7px solid rgb(255, 83, 26);
		margin-bottom: -7px;
	}
	nav {
		line-height: 1.25;
		padding: 40px 15px 0 24px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-weight: 400;
		font-size: 14px;
		font-size: 0.875rem;
		line-height: 1.1428571429;
		background: white;
		width: 200px;

		position: fixed;
		top: 0;
		left: -250px;
		overflow-y: scroll;
		z-index: 9000;
		height: 100%;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		transition: all 0.2s ease;

		.govuk-heading-s {
			margin: 20px 0 5px 0;
		}

		ul:last-of-type {
			padding-bottom: 100px;
		}

		li {
			padding: 6px 0;
			font-size: medium;

			&.active {
				margin-left: -14px;
				padding-left: 10px;
				border-left: 4px solid rgb(255, 83, 26);
			}
		}
	}

	.toggler {
		z-index: 9500;
		height: 50px;
		width: 50px;
		position: fixed;
		bottom: 16px;
		right: 16px;
		cursor: pointer;
		opacity: 0;
	}

	.hamburger {
		z-index: 9250;
		border-radius: 50%;
		position: fixed;
		bottom: 15px;
		right: 15px;
		height: 40px;
		width: 40px;
		padding: 0.6rem;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgb(255, 83, 26);
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	}

	.hamburger > div {
		position: relative;
		top: 0;
		left: 0;
		background: white;
		height: 2px;
		width: 60%;
		transition: all 0.4s ease;
	}

	.hamburger > div::before,
	.hamburger > div::after {
		content: '';
		position: absolute;
		top: -10px;
		background: white;
		width: 100%;
		height: 2px;
		transition: all 0.4s ease;
	}

	.hamburger > div::after {
		top: 10px;
	}

	.toggler:checked + .hamburger > div {
		background: rgba(255, 83, 26, 0);
	}

	.toggler:checked + .hamburger > div::before {
		top: 0;
		transform: rotate(45deg);
	}

	.toggler:checked + .hamburger > div::after {
		top: 0;
		transform: rotate(135deg);
	}

	.toggler:checked ~ nav {
		left: 0;
	}

	@media (min-width: 40.0625em) {
		nav {
			width: 240px;
			position: static;
			box-shadow: none;
			height: initial;
			transition: none;
			overflow-y: initial;
		}
		.hamburger,
		.toggler {
			display: none;
		}
	}
</style>
