<script>
	// @ts-nocheck
	import Prism from 'prismjs';
	Prism.manual = true;
</script>

<h1 class="govuk-heading-xl">Getting started</h1>

<p class="govuk-body-l">
	This component library is a svelte implementation of the <a
		target="_blank"
		href="https://design-system.service.gov.uk/">GOV.UK Design System</a
	>. It's intended to be used within a
	<a target="_blank" href="https://kit.svelte.dev/">SvelteKit</a>
	project in conjunction with
	<a target="_blank" href="https://www.npmjs.com/package/govuk-frontend">govuk-frontend</a>
</p>

<p class="govuk-body">
	All the options for the nunjucks macros are available to use with the svelte components
</p>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">Svelte</h2>
		<pre><code class="language-javascript"
				>{@html Prism.highlight(
					`<script>
  import { Radios } from '@danboscaro/govuk-svelte'
</script>

<Radios {...{
  name: "where-do-you-live",
  fieldset: {
    legend: {
      text: "Where do you live?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "england",
      text: "England"
    },
    {
      value: "scotland",
      text: "Scotland"
    },
    {
      value: "wales",
      text: "Wales"
    },
    {
      value: "northern-ireland",
      text: "Northern Ireland"
    }
  ]
}} />`,
					Prism.languages.javascript,
					'javascript'
				)}
    </code></pre>
	</div>
	<div class="govuk-grid-column-one-half">
		<h2 class="govuk-heading-m">Nunjucks</h2>
		<pre><code class="language-javascript"
				>{@html Prism.highlight(
					`
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "where-do-you-live",
  fieldset: {
    legend: {
      text: "Where do you live?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "england",
      text: "England"
    },
    {
      value: "scotland",
      text: "Scotland"
    },
    {
      value: "wales",
      text: "Wales"
    },
    {
      value: "northern-ireland",
      text: "Northern Ireland"
    }
  ]
}) }}`,
					Prism.languages.javascript,
					'javascript'
				)}
  </code></pre>
	</div>
</div>

<h2 class="govuk-heading-l">Create a SvelteKit skeleton project</h2>
<pre class="bash"><code
		>npm create svelte@latest my-app
cd my-app
npm install
npm run dev -- --open</code
	></pre>

<h2 class="govuk-heading-m">Install</h2>
<pre class="bash"><code>npm install @danboscaro/govuk-svelte govuk-frontend</code></pre>

<h2 class="govuk-heading-m">Copy assets</h2>
<pre class="bash"><code>cp -r ./node_modules/govuk-frontend/govuk/assets ./static</code></pre>

<h2 class="govuk-heading-l">Add styles</h2>
<p class="govuk-body">
	Styles can be added either from a static css file or from including the sass files from the
	govuk-frontend library
</p>

<h2 class="govuk-heading-m">Using a static css file</h2>
<p class="govuk-body">
	Copy the govuk-frontend-4.7.0.min.css file from the <a
		target="_blank"
		href="https://github.com/alphagov/govuk-frontend/tree/v4.7.0/dist">dist folder</a
	> in the govuk-frontend github repository to the static folder in the SvelteKit project
</p>
<pre class="bash"><code
		>curl https://raw.githubusercontent.com/alphagov/govuk-frontend/v4.7.0/dist/govuk-frontend-4.7.0.min.css -o ./static/govuk-frontend-4.7.0.min.css</code
	></pre>

<p class="govuk-body">
	Add a link to the css file in the head of the src/app.html file in the SvelteKit project
</p>

<pre class="bash"><code
		>{`<head>
  ...
  <link rel="stylesheet" href="/govuk-frontend-4.7.0.min.css" />
  ...
</head>`}</code
	></pre>

<p class="govuk-heading-m">OR</p>

<h2 class="govuk-heading-m">Using sass</h2>
<p class="govuk-body">Install a module that can read the scss files, for example:</p>
<pre class="bash"><code>npm install -D sass</code></pre>

<p class="govuk-body">
	Then import the scss files from govuk-frontend into the +page.svelte/+layout.svelte files as
	required
</p>
<pre class="bash"><code
		>{`<script>
  import '../../node_modules/govuk-frontend/govuk/all.scss';
</script>`}</code
	></pre>

<h2 class="govuk-heading-l">Javascript?</h2>
<p class="govuk-body">
	All the svelte components already include all the additional javascript from govuk-frontend so
	there is no need to add any further js files
</p>

<p class="govuk-body">
	Demos of all the components are available from the menu with snippets generated from the examples
	in the govuk-frontend github repo as a starter to include in a project
</p>

<style>
	.govuk-grid-row .govuk-heading-m {
		color: rgb(255, 83, 26);
	}
	code {
		white-space: pre-wrap !important;
		font-size: 0.8rem !important;
		word-break: break-word;
	}
	pre {
		display: block;
		margin: 0;
		padding: 15px 15px 0 15px;
		background: #f3f2f1;
		margin-bottom: 20px;
	}
	.bash {
		background: #0b0c0c;
		color: white;
		font-size: 1.4em;
		padding: 20px;
	}
	.govuk-heading-l {
		margin-top: 30px;
	}
</style>
