<script>
	// @ts-nocheck
	import * as GOVUK from '@danboscaro/govuk-svelte';
	import { componentName } from '$lib';
	import { page } from '$app/stores';
	import { onMount } from 'svelte';
	/** @type {import('./$types').PageServerData} */
	export let data;

	import { dev } from '$app/environment';
	import { inject } from '@vercel/analytics';
	inject({ mode: dev ? 'development' : 'production' });
	
	const disableAutoFocus = (c, d) => {
		const data = Object.assign({}, d);
		if (['ErrorSummary', 'NotificationBanner'].includes(c)) {
			data.disableAutoFocus = true;
		}
		return data;
	};

	const inverse = data[$page.params.component][$page.params.example].name.indexOf('inverse') > -1;
	onMount(() => {
		if (inverse) document.body.style.background = '#1d70b8';
	});
</script>

<svelte:component
	this={GOVUK[componentName($page.params.component)]}
	{...disableAutoFocus(
		componentName($page.params.component),
		data[$page.params.component][$page.params.example].data
	)}
/>

{@html '<script src="/iframeResizer.contentWindow.min.js"></script>'}

<style>
	:global(body) {
		padding: 20px;
		overflow: hidden;
	}
</style>
