<script>
	// @ts-nocheck
	import Prism from 'prismjs';
	Prism.manual = true;
</script>

<h1 class="govuk-heading-l">Template</h1>

<p class="govuk-body">
	The Template component mirrors the nunjucks template by using named slots instead of blocks and
	props instead of variables
</p>

<pre><code class="language-html"
		>{@html Prism.highlight(
			`<script>
  import { Template } from '@danboscaro/govuk-svelte'
</script>

<Template containerClasses=".some-class">
  <svelte:fragment slot="pageTitle">
    <title>Hello title</title>
  </svelte:fragment>

  <svelte:fragment slot="content">
    <h1 class="govuk-heading-xl">Hello content</h1>
  </svelte:fragment>
</Template>`,
			Prism.languages.html,
			'html'
		)}</code
	></pre>

<p class="govuk-body govuk-!-margin-top-4">
	By using the template as a component, svelte only has access to a root element within the body
	tag, so some extra setup is required to complete the page
</p>

<p class="govuk-body">
	Note: the pageTitle block contains the title tag as it is not possible to add a slot inside that
	tag, this is the only difference in all of the nunjucks blocks
</p>

<h2 class="govuk-heading-m">src/app.html</h2>

<p class="govuk-body">
	Add the "govuk-template" class to the html tag and the "govuk-template__body" class to the body
	tag
</p>

<pre><code class="language-html"
		>{@html Prism.highlight(
			`<!DOCTYPE html>
<html lang="en" class="govuk-template">
  ...
  <body class="govuk-template__body">
    ...
  </body>
</html>`,
			Prism.languages.html,
			'html'
		)}</code
	></pre>

<p class="govuk-body govuk-!-margin-top-4">
	This also applies if you require any of the following nunjucks options; bodyAttributes,
	bodyClasses, htmlClasses or htmlLang, which can be set statically in the src/app.html file or
	these can be set dynamically with a server hook that substitutes them
</p>

<h2 class="govuk-heading-m">Substitute unavailable options</h2>

<p class="govuk-body">
	Add a placeholder for the variable you want to substitute in the src/app.html
</p>

<pre><code class="language-html"
		>{@html Prism.highlight(
			`<!DOCTYPE html>
<html lang="%htmlLang%" class="govuk-template">
  ...
</html>`,
			Prism.languages.html,
			'html'
		)}</code
	></pre>

<p class="govuk-body govuk-!-margin-top-4">
	Then create a src/hooks.server.js file with the following handle function that substitutes the
	placeholder
</p>

<pre><code class="language-javascript"
		>{@html Prism.highlight(
			`/** @type {import('@sveltejs/kit').Handle} */
export function handle({ event, resolve }) {
  return resolve(event, {
    transformPageChunk: ({ html }) => html.replace('%htmlLang%', 'cy')
  });
}
`,
			Prism.languages.javascript,
			'javascript'
		)}</code
	></pre>

<h2 class="govuk-heading-m govuk-!-margin-top-6">
	Using the Template component in a +layout.svelte file
</h2>

<p class="govuk-body">
	There is a limitation when using the Template component in a layout file. Currently svelte layout
	files do not support named slots, so if you setup a template within a layout file there is only a
	single slot that can be forwarded to pages that use that layout
</p>

<p class="govuk-body">
	This may be addressed in the future see <a
		href="https://github.com/sveltejs/kit/issues/627#issuecomment-1458539744"
		target="_blank">this github comment</a
	> from a SvelteKit maintainer for more details on this
</p>

<p class="govuk-body">
	If you don't require multiple slots from the template to be overridden in you pages then this
	probably wont be an issue for you, but some things can be updated per page from the suggestions in
	the comment, for example, to use the Template in a layout and also update the page title per page:
</p>

<h2 class="govuk-heading-m govuk-!-margin-top-6">src/+page.svelte</h2>

<pre><code class="language-html"
		>{@html Prism.highlight(
			`<h1 class="govuk-heading-l">New page heading</h1>`,
			Prism.languages.html,
			'html'
		)}</code
	></pre>

<h2 class="govuk-heading-m govuk-!-margin-top-6">src/+page.server.js</h2>

<pre><code class="language-javascript"
		>{@html Prism.highlight(
			`export async function load() {
  return {
    title: 'New page title' // <-- set the title for the page in the data object available to the layout
  };
}`,
			Prism.languages.javascript,
			'javascript'
		)}</code
	></pre>

<h2 class="govuk-heading-m govuk-!-margin-top-6">src/+layout.svelte</h2>

<pre><code class="language-html"
		>{@html Prism.highlight(
			`<script>
  import { Template } from '@danboscaro/govuk-svelte'
  import { page } from '$app/stores';
</script>

<Template>
  <svelte:fragment slot="pageTitle">
    <title>{$page.data.title}</title>
  </svelte:fragment>

  <svelte:fragment slot="content">
    <slot></slot> <-- this is where the +page.svelte content will be placed
  </svelte:fragment>
</Template>`,
			Prism.languages.html,
			'html'
		)}</code
	></pre>

<style>
	:global(.token) {
		background: transparent !important;
	}
	.govuk-heading-m {
		color: rgb(255, 83, 26);
	}
	code {
		white-space: pre-wrap !important;
		font-size: 0.8rem !important;
	}
	pre {
		display: block;
		margin: 0;
		padding: 15px;
		background: #f3f2f1;
	}
</style>
