<script>
	// @ts-nocheck
	import { afterUpdate } from 'svelte';
	import { iframeResize } from 'iframe-resizer';
	import Prism from 'prismjs';
	Prism.manual = true;
	import { componentName } from '$lib';
	import { Details } from '@danboscaro/govuk-svelte';
	/** @type {import('./$types').PageServerData} */
	export let data;

	afterUpdate(() => {
		const examples = document.querySelectorAll('.js-component-preview');
		examples.forEach((example) => {
			iframeResize({ scrolling: 'omit' }, example);
		});
	});
</script>

<h1 class="govuk-heading-l">{componentName(data.component)}</h1>

{#each data.examples[data.component] as example, i}
	<h2 class="govuk-heading-m">{componentName(example.name)}</h2>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<iframe
				title="example"
				scrolling="no"
				class="js-component-preview"
				src={`/examples/${data.component}/${i}`}
				loading={i <= 3 ? 'eager' : 'lazy'}
			/>
			<Details
				{...{
					summaryText: 'Svelte code'
				}}
			>
				<pre><code class="language-javascript"
						>{@html Prism.highlight(
							`<script>
	import { ${componentName(data.component)} } from '@danboscaro/govuk-svelte'
</script>

<${componentName(data.component)} {...${JSON.stringify(example.data, null, 2).replace(
								/"(.*)":\s/g,
								'$1: '
							)}} />`,
							Prism.languages.javascript,
							'javascript'
						)}</code
					></pre>
			</Details>
		</div>
	</div>
{/each}

<style>
	:global(.token) {
		background: transparent !important;
	}
	.govuk-heading-m {
		color: rgb(255, 83, 26);
	}
	code {
		white-space: pre-wrap !important;
		font-size: 0.8rem !important;
	}
	pre {
		display: block;
		margin: 0;
		padding: 15px;
		background: #f3f2f1;
	}
	iframe {
		display: block;
		width: 100%;
		max-width: 100%;
		height: 100%;
		border: 1px solid #b1b4b6;
		margin-bottom: 10px;
	}
</style>
